header{
    background-color: #CCD1D1;
}
.pruebas-software{
    text-align: justify;
    line-height: 1.5;
}
.clasificacion{
    text-align: justify;
    line-height: 1.5;
}
.fondo-footer{
    background-color: black;
}
.postman{
    text-align: justify;
    line-height: 1.5;
}
/* Estilo de los elementos <li> */
li.nav-item {
    list-style: none; /* Elimina el marcador de lista */
    display: inline-block; /* Convierte los elementos en elementos en línea */
    margin-right: 10px; /* Agrega espacio entre los botones */
}

/* Estilo de los elementos <a> */
li.nav-item a {
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho del elemento <li> */
    padding: 10px 20px; /* Agrega relleno para dar forma al botón */
    background-color: #CCD1D1; /* Cambia el color de fondo */
    color: #000000; /* Cambia el color del texto */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    border: 1px solid #535252; /* Agrega un borde */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    text-align: center; /* Centra el texto horizontalmente */
    font-weight: bold; /* Hace que el texto sea más audaz */
}

li.nav-item a:hover {
    background-color: #5f5f5f; /* Cambia el color de fondo al pasar el cursor por encima */
}
