header{
    background-color: #CCD1D1;
}
.pruebas-software{
    text-align: justify;
    line-height: 1.5;
}
.clasificacion{
    text-align: justify;
    line-height: 1.5;
}
.fondo-footer{
    background-color: black;
}